* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#titulo {
    margin-bottom: 20px;
}

#titulo h1 {
    color: #380B61;
}

.grupo {
    display: flex;
    justify-content: center;
}

.botao {
    font-size: 1.2em;
    background-color: #59429d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #45387a;
}

.botao:focus {
    outline: none;
}

